<!--check whats the difference between include and extend-->
{% extends 'base.html' %}

{% load static %}

{% block content %}



<!-- ========================= SECTION PAGETOP ========================= -->
<section class="section-pagetop bg">
	<div class="container">
		<h2 class="title-page">My Culinary Store</h2>
		
	</div> <!-- container //  -->
	</section>
	<!-- ========================= SECTION INTRO END// ========================= -->
	
	<!-- ========================= SECTION  ========================= -->
<section class="section-name padding-y-sm">
	<div class="container">
	
	 
	<header class="border-bottom mb-4 pb-3">
		<div class="form-inline">
			<span class="mr-md-auto">{{products.count}} Items Found </span>
			
		</div>
	</header><!-- sect-heading -->
		
	<div class="row">
		{% for product in products %}
			<div class="col-md-3">
				<div class="card card-product-grid">
					
						<a href="{{productDetail.html}}" class="img-wrap"> <img src="{{product.image.url}}"> </a>
						<figcaption class="info-wrap">
							<a href="{{product.getProductDetail}}" class="title">{{product.title}}</a>
							<div class="price mt-1">RM{{product.price}}</div> <!-- price-wrap.// -->
							<!--<div class="line-through">RM{{product.discount}}</div> <!-- price-wrap.// -->
	
							<div class="rating-star">
								<span>
									<i class="fa fa-star{% if product.averageReview < 0.5 %}-o{% elif product.averageReview >= 0.5 and product.averageReview < 1 %}-half-o {% endif %}" aria-hidden="true"></i>
									<i class="fa fa-star{% if product.averageReview < 1.5 %}-o{% elif product.averageReview >= 1.5 and product.averageReview < 2 %}-half-o {% endif %}" aria-hidden="true"></i>
									<i class="fa fa-star{% if product.averageReview < 2.5 %}-o{% elif product.averageReview >= 2.5 and product.averageReview < 3 %}-half-o {% endif %}" aria-hidden="true"></i>
									<i class="fa fa-star{% if product.averageReview < 3.5 %}-o{% elif product.averageReview >= 3.5 and product.averageReview < 4 %}-half-o {% endif %}" aria-hidden="true"></i>
									<i class="fa fa-star{% if product.averageReview < 4.5 %}-o{% elif product.averageReview >= 4.5 and product.averageReview < 5 %}-half-o {% endif %}" aria-hidden="true"></i>
									</span>
							</div>
						</figcaption>
					
				</div>  
			</div> <!-- col.// -->
		{% endfor %}  
		 
	</div> <!-- row.// -->
	
	</div><!-- container // -->
	</section>
		<!-- ========================= SECTION  END// ========================= -->
	{%endblock%}    